h1 {
    color:BLUE;
}

body{margin:0;background-color:;}

#nav{
    text-align:center;
    width:100%;
    height:100px;
    background-color:GRAY;
}

.link{
    background-color:RED;
    height:100px;
}