@font-face {
    font-family: Halo;
    src: url("../fonts/Halo-sans.otf") format("opentype");
}
@font-face {
    font-family: Halo;
    font-weight: bold;
    src: url("../fonts/Halo-sans-black.otf") format("opentype");
}
@font-face {
    font-family: Halo;
    font-weight: thin;
    src: url("../fonts/Halo-sans-light.otf") format("opentype");
}


body {
    font-family: Halo, Helvetica;
    /*font-family:'Josefin Slab',serif;*/
    background-color: rgb(211,231,255);
}

#wrapper {
    margin: 0;
    height:100vh;
    width: 100%;
    padding: 0px;
    background: url("../images/Dunes_BG2.jpg") no-repeat center bottom fixed;
    background-size: 100%;
}

#nav {
    position: fixed;
    height: 100px;
    width: 100%;
    padding: 0;
    vertical-align: middle;
    
}



.logo {
    width: 100px;
    height: 100px;
    margin: 10px;
    float: left;
    background: url("../images/Baja_logo.png") no-repeat center bottom;
    background-size: 100px auto;
}
/*Definition of <navi>*/

navi {
    display: block;
    margin: 0px;
    padding: 0px;
    border: 0px;
}

.holder {
    margin: 0 auto;
    height: 100%
}

navi navi {
    height: 40px;
    float: left;
    margin: 20px 0px;
    vertical-align: middle;
    padding: 0px;
}

navi .col-xs-4{
    padding: 0px;
}

navi p {
    background-color: black;
    background-color: rgba(0, 0, 0, 0);
    color: black;
    border-radius: 10px;
    height: 100%;
    margin: 0px 5px;
    text-align: center;
    line-height: 40px;
    text-transform: uppercase;
    font-weight: bold;
}

navi p:hover {
    background-color: rgba(0, 0, 0, 0.25);
    color: white;
}

.theteam_nav {
    margin: 0 15px;
}

.gallery_nav {
    margin: 0 15px;
}
